ul {
  list-style-type: none;
  text-align: left;
}

.icon-list {
  display: flex;
  justify-content: center;
  padding: 0;
}

.icon-list li {
  margin: 0 10px;
}

.icon-list a {
  color: black;
  transition: color 0.3s;
}

.icon-list a:hover {
  color: blue;
}
